<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/detailproduct.css">
    <%-include('../partials/head.ejs')%>
    <script src="/js/detail.js" defer></script>
</head>
<body>
    <header>
        <%-include('../partials/header.ejs')%>
    </header>

    <main>

        <h1><%=producto.NombreJuego %></h1> <br>
        <article class="primerArticulo">
            <div class="contArticulo">

                <section class="imgPrincipal">
                    <img class="img1" src="/img/products/<%=producto.img1%>"  alt="">
                </section>
                
                <section class="imgSecundarias">
                    <img class="img2" src="/img/products/<%=producto.img2%>" alt="">
                    <img class="img2" src="/img/products/<%=producto.img3%>" alt="">
                </section>
                
                <section class="descipcion1">
                    <div class="img3">
                    <p class="reqtitulo">Ficha Tecnica</p>
                    <p class="descripcionjuego"><%=producto.descripcion %></p>
                    
                    </div>
                </section>
                
            </div>

            <h2 class="req">Requisitos</h2>

        </article>
        
        
        
        <article class="articleabajo">

            <section class="descipcionabajo1">
                <div class="imgagendesc">
                    <p class="reqtitulo">Minimos</p><br>
                    <% producto.requisitosMinimos.forEach(function(requisito) { %>
                        <li class="listado"><%= requisito %></li>
                        <% }); %><br>
                        

                </div>
            </section>

            <section class="descipcionabajo2">
                <div class="imgagendesc">
                    <p class="reqtitulo">Recomendados</p><br>
                    <% producto.requisitosRecomendados.forEach(function(requisito) { %>
                        <li class="listado"><%= requisito %></li>
                        <% }); %><br>
                </div>
            </section>

            <h2 class="req">links de descarga</h2>
        </article>




        <article class="articleabajo">
            
                <a href="instagram.com" class="imgagendesc3">
                    <p class="reqtitulo">Mega</p><br>
                </a>

                <a href="../../instagram222.com" class="imgagendesc4">
                    <p class="reqtitulo">Mediafire</p><br>
                </a>

        </article>

        <h2>Otros Juegos</h2>
        
            <div class="contArticulo2">
               
                <div class="container">
                    <% for(let i = 0; i < 8; i++) { %>
                        
                      <a href="../../../product/detail/<%=products[i].id %>" class="card">
                        <img class="background" src="/img/products/<%=products[i].img1%>" alt="">
                  
                        <div class="card-content">
                          <div class="profile-image">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gamepad-2">
                              <line x1="6" x2="10" y1="11" y2="11" />
                              <line x1="8" x2="8" y1="9" y2="13" />
                              <line x1="15" x2="15.01" y1="12" y2="12" />
                              <line x1="18" x2="18.01" y1="10" y2="10" />
                              <path d="M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z" />
                            </svg>
                          </div>
                  
                          <h3 class="titlefin"><%=products[i].NombreJuego%>
                        </div>
                        <div class="backdrop"></div>
                    </a>
                    <% } %>
                  </div>

            </div>

            <div class="contArticulo3">
                <% let num = 0;%>
                <% for(let j = 0; j < 3; j++) { %>
      
                     
                  <div class="container">
                      <% for(let i = 0; i < 3; i++) { %>
                          
                        <a href="../../../product/detail/<%=products[num].id %>" class="card">
                          <img class="background" src="/img/products/<%=products[num].img1%>" alt="">
                    
                          <div class="card-content">
                            <div class="profile-image">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gamepad-2">
                                <line x1="6" x2="10" y1="11" y2="11" />
                                <line x1="8" x2="8" y1="9" y2="13" />
                                <line x1="15" x2="15.01" y1="12" y2="12" />
                                <line x1="18" x2="18.01" y1="10" y2="10" />
                                <path d="M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z" />
                              </svg>
                            </div>
                    
                            <h3 class="titlefin"><%=products[num].NombreJuego%>
                          </div>
                          <div class="backdrop"></div>
                      </a>
                      <% num++;%>
                      <% } %>
                    </div>
      
                    <% } %>
              </div>
        


        </main>
        
        <footer>
            <%-include('../partials/footer.ejs')%>
        </footer>
    
</body>
</html>