<!DOCTYPE html>
<html lang="en">
<head>

    <%-include('../partials/head.ejs')%>
</head>
<body>
    
    <%-include('../partials/header.ejs')%>

    <main>

        

        <h1>Descarga Tus Juegos Favoritos</h1> <br>
        <article class="primerArticulo">
            <div class="contArticulo">

                <section class="imgPrincipal">
                    <img class="img1" src="/img/imgP.jpeg"  alt="">
                </section>
                
                <section class="imgSecundarias">
                    <img class="img2" src="/img/cuphead_screenshot_0001.png" alt="">
                    <img class="img2" src="/img/OIP (1).jpg" alt="">
                </section>
                
                <section class="descipcion1">
                    <img class="img3" src="/img/Captura de pantalla (77).png" alt="">
                </section>
                
            </div>
        </article>

        <h2>Otros Juegos</h2>
        <article class="article2">
            <div class="contArticulo2">
                <% products.forEach(products => { %>
                <a href="product/detail/<%=products.id %>" class="muestra">
                    <p class="nombrejuego"><%=products.NombreJuego%></p>
                    <img class="img4" src="/img/products/<%=products.imgPrincipal%>" alt="">
                </a>
                <% }); %>  
            </div>
        </article>
    </main>

    <footer>

    </footer>
</body>
</html>